@import url('http://fonts.cdnfonts.com/css/spirit-ginger');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, rgb(27, 27, 27), rgb(120, 120, 120));
    text-align: center;
}

h1 {
    font-family: 'Spirit Ginger', sans-serif;                      
    margin: 30px 0 10px 0;
    font-size: 100px;
    color: red;
    text-shadow: 5px 5px #000;
}

input {
    font-family: 'Lato', sans-serif;
    width: 280px;
    padding: 10px;
    border: 2px solid black;
    outline: none;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: bold;
}

button {
    font-family: 'Lato', sans-serif;
    padding: 10px;
    border: none;
    background-color: red;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    border: 2px solid black;
}

.poke-container {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

.pokemon {
    font-family: 'Lato', sans-serif;
    color: #fff;
    text-align: center;
    width: 300px;
}

.pokemon .img-container img {
    margin-top: 20px;
    height: 250px;
    width: 250px;
}

.pokemon .info {
    margin-top: 20px;
}

.pokemon .number {
    border-radius: 10px;
    font-size: 0.9em;
    padding: 5px 10px;
}

.pokemon .name {
    margin: 7px 0 7px 0;
}

.description {
    margin-top: 20px;
}